li .button {
    width:100%;
    text-align: left;
    margin-top:-100px !important;
    border-radius: .125rem;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
    background-color: rgb(28 25 23 );
    color: rgb(168 162 158) ;
    border: 0px solid transparent;
    outline: none;
}


li { 
    margin-top: 1rem !important;
    margin-left :0 px !important;
    
   
  
 
}
.activeButton {
    background-color: rgb(68 64 60 ) !important ;
  color: white;  /* Change the text color for contrast */

}

